<%= render 'shared/page_title', title: "Edit a recipe" %>

<%= render 'form' %>

<p>
	<div class="center">
		<div class="index-link index-link-padding col-md-15 col-md-offset-14">
			<%= link_to "Cancel changes", recipe_path(@recipe) %>		
		</div>
	</div>
</p>