$navbar-default-bg: #ff7519;

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
	padding-top: 1.75%;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: white;
	background: #ffa76d;
	text-decoration: none;
}

.center {
	text-align: center;
}

.btn-color {
	background: #ff7519;
	border: #ff7519;
}

.btn-color:hover {
	background: #ffa76d;
	border: #ffa76d;
}

.btn-color:active {
	background: #ffa76d;
	border: #ffa76d;
}

.jumbotron {
	background-image: asset-url('view.jpg');
	background-size: cover;
	height: 300px;
}

.footer span {
	position: relative;
	margin-left: 3%;
}

.foot {
	color: #ff7519;
}

.foot:hover {
	color: #ffa76d;
}

.footer ul {
	display: inline;
	float: right;
	list-style-type: none;
	margin-right: 3%;
}

.row {
	border: .1em solid gray;
	border-radius: 2em;
	background-color: #d8d8d8;
	padding: 2%;
}

.description {
	margin-top: 0;
}

.index-link a {
	color: #ff7519;
}

.chef_info {
	padding: 10%;
}

.index-link-padding {
	padding-top: 1%;
}

.error-msg {
	background: none;
	border: none;
}

.recipe-action {
	padding-top: 1%;
	padding-left: 1%;
	a {
		color: #fff;
	}
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 11;
	margin-top: -3.5%;
}

.recipe-title {
	margin-top: 20rem;
}